# Основные
aiohttp>=3.9.0
asyncio>=3.4.3
python-dotenv>=1.0.0

# Web3 и блокчейн
web3>=6.0.0
eth-account>=0.9.0
eth-keys>=0.4.0

# Анализ данных
numpy>=1.24.0

# Визуализация
matplotlib>=3.7.0

# Логирование
colorlog>=6.7.0

# Утилиты
tenacity>=8.2.0